html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $text-color--dark;
  font-family: 'Overpass', sans-serif;
  font-size: 100%;
  font-weight: 700;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 1.4em;
}

h2 {
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 1.6em;
}

a {
  color: $text-color--dark;

  &:hover {
    color: lighten($text-color--dark, 30%);
    transform: translateY(-5px);
  }
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 13px;
  line-height: 1em;
}

